.btn-success{
    color:#ffc107;
}

button{
    color: white;
}

button:hover{
    color: white;
}
.card-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
}
.des{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
}